PUBLIC_SITE_URL=https://tu-dominio.com

# Sanity (web + Studio)
# SANITY_PROJECT_ID=
# SANITY_DATASET=production
# SANITY_API_VERSION=2024-01-01
# SANITY_READ_TOKEN=
# SANITY_STUDIO_PROJECT_ID=
# SANITY_STUDIO_DATASET=production
# SANITY_STUDIO_HOST=
